body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgb(14, 85, 238);
  border: none;
  color: white;
  font-weight: 500;
}
